.bottomBar{
    position: relative;
    height: 6rem;    
    max-width: 100%;
    min-width: 100%;

    // background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        height: 100%;
    }
    
    .buttonsWrapper{
        display: flex;

        position: absolute;
        height: 100%; width: 100%;
        top: 0; left: 0;

        .whiteBarButton{
            height: 3rem;
            background-color: none;

            transition:0.3s;

            &:hover{transform: scale(1.1);}
            &:active{transform: scale(0.9);}
        }
    }
}