* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.touchCanvasParent{
	position:absolute;
	top:0;left:0;
	
	height: 100%; width:100%;
	display:flex;
	justify-content:center;
	
	pointer-events:none;
}

#touchCanvas{
	position:relative;
	width:100%; max-width: 500px;
}

#pennyButton{
	position:absolute;
}
.pennyButtonVisual{
	// background-color: red;
	border-radius:50%;
	width: 5rem;
	height: 5rem;
}

#touchInputDebugCanvas{
	position:absolute;
	top:0;left:0;
	height: 100%; width:100%;
	pointer-events:none;
}

#inputBG{
	position:absolute;
	top:0; left: 0; 
	height: 100%; width:100%;
	pointer-events: none;
}


// input ui stuff
.inputUIRoot{
	position: absolute;
	top:0; left:0;
	pointer-events: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.inputLabel{
	width:100%;
	max-width: 500px;
}

.uiCard{
	background-color: white;
	margin: 1rem;
	border-radius: 1rem;
	padding: 1rem
}

#amountLabel{
	text-align: center;
	font-size: 5rem;
	font-weight: 800;
}

.amountCategoryDisplayRoot{
	width: 100%;
	display: flex;
	justify-content: center;
}

#amountCategoryDisplay{
	background-color: red;
	border-radius: 2rem;
	padding: 0.5rem 1rem;
}

#upperUI{
	position: relative;
	top:0;
	transition: 0.3s;
}
.upperAnimateOut{
	top:-10rem !important;
}

@keyframes animation-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.popAnim{
	animation: animation-pop 0.2s;
}


#bottomButtons{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	bottom:0;
	transition: 0.3s;
}

.bottomAnimateOut{
	bottom:-50rem !important;
}

.bottomButtonsFlipper{
	width:100%;
	position: relative;
}

#uiCancelButton{
	font-weight: 800;
	font-size: 1.5rem;
	padding: 1rem 5rem !important;
	border-radius: 3rem !important;
	width: fit-content !important;
}

.side1{
	transition: 0.3s;
}
.side2{
	transition: 0.3s;
	position:absolute;
	top:0; left: 0; 
	height: 100%;
}


// category flows
.categoryLabel{
	text-align: center;
	font-size: 2.3rem;
	padding-bottom: 1rem;
	font-weight: 800;
	width: 100%;
}
.categoryPickerLabels{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap:1rem;
}
.categoryPill{
	font-size: 1.25rem;
	font-weight: 500;
	border-radius:  2rem;
	padding: 0.5rem 1rem;
}





// confirm button
#confirmButton{
	font-size: 3rem;
	font-weight: 800;
	max-width: 100%;
	margin: 0;
	border-radius: 6rem !important;
	padding: 1rem 6rem;
}

.side2.fadeOut{
	#confirmButton{
		pointer-events: none;
	}
}


.bottomBar{
	transform:scale(2)
}