.popUp{
  position: absolute;
  top:0; left: 0;
  width: 100%; height: 100%;

  display:flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .popUpSliderDown{
    top:100vh !important
  }

  .popUpSlider{
    width: 100%;
    max-width: 500px;
    z-index: 2;
    
    position: relative;
    top:0vh;
    
    transition: 0.3s;

    display: flex;
    flex-direction: column;

    h1{
      margin-bottom: 1rem;
    }

    .settingsCard{
      margin:1rem;
      pointer-events: auto;
    }

    .budgetSettings{
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .setBudget{
      font-size: 1.5rem;
      height: 1.5rem;
    }
    span{font-size: 1.5rem; font-weight: 800;}
    .setBudgetInput{
      height: 100% !important;
      font-size: 1.5rem;
      width: 6rem;
      text-justify: right;
      margin-left: 0.5rem;
    }

    button{
      margin: 0.5rem 0rem;
      padding: 0.5rem;
      border-radius: 3rem;
      border: none;
      font-size: 1.5rem;
      width: 100%;
    }

    .divider{
      height: 3px;
      width: 80%;
      margin: 1rem 0rem;
      background-color: black;
      border-radius: 2px;
    }
  }

  .popUpBg{
    z-index: 1;
    position: absolute;
    top:0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.457);
    pointer-events: auto;
    // opacity: 1;

    transition: 0.3s;
  }
}

.popUpFadeOut{
  opacity: 0;
  pointer-events: none !important;
}

.popUpReturnButton{
  align-self: center;
  justify-self: center;
  width: 20rem !important;
}